In [5]:
import pandas as pd

In [6]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [32]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [34]:
import lightgbm as lgb

In [62]:
regressor=lgb.LGBMRegressor()

In [63]:
regressor.fit(x_train,y_train)

LGBMRegressor(boosting_type='gbdt', colsample_bytree=1, learning_rate=0.1,
              max_bin=255, max_depth=-1, min_child_samples=10,
              min_child_weight=5, min_split_gain=0, n_estimators=10, nthread=-1,
              num_leaves=31, objective='regression', reg_alpha=0, reg_lambda=0,
              seed=0, silent=True, subsample=1, subsample_for_bin=50000,
              subsample_freq=1)

In [64]:
y_pred=regressor.predict(x_test)

In [68]:
from sklearn.metrics import r2_score
r2_score=r2_score(y_test,y_pred)
r2_score

0.1001303154040315

# Save model

In [69]:
import pickle
file_name="finalized_LGboost.sav"

pickle.dump(regressor,open(file_name,"wb"))
loaded_model=pickle.load(open("finalized_LGboost.sav","rb"))
loaded_model

LGBMRegressor(boosting_type='gbdt', colsample_bytree=1, learning_rate=0.1,
              max_bin=255, max_depth=-1, min_child_samples=10,
              min_child_weight=5, min_split_gain=0, n_estimators=10, nthread=-1,
              num_leaves=31, objective='regression', reg_alpha=0, reg_lambda=0,
              seed=0, silent=True, subsample=1, subsample_for_bin=50000,
              subsample_freq=1)

In [70]:
result=loaded_model.predict([[27,37.8,2,0,0]])
result

array([12232.91645578])