In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [23]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[['charges']].values

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [25]:
import xgboost as xgb

In [26]:
xgb_reg=xgb.XGBRegressor()

In [27]:
param_grid = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.1, 0.01, 0.001],
    'subsample': [0.8, 0.9, 1.0],
    'colsample_bytree': [0.8, 0.9, 1.0]
}

#grid_search = GridSearchCV(estimator=model, param_grid=param_grid, scoring='neg_mean_squared_error', cv=5)
#grid_search.fit(X_train, y_train)

In [28]:
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(xgb_reg,param_grid, cv=5, scoring='neg_mean_squared_error')
grid.fit(x_train,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=XGBRegressor(base_score=None, booster=None,
                                    callbacks=None, colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    early_stopping_rounds=None,
                                    enable_categorical=False, eval_metric=None,
                                    gamma=None, gpu_id=None, grow_policy=None,
                                    importance_type=None,
                                    interaction_constraints=None,
                                    learnin...
                                    n_jobs=None, num_parallel_tree=None,
                                    objective='reg:squarederror',
                                    predictor=None, random_state=None,
                                    reg_alpha=None, ...),
             iid='warn', n_jobs=None,
             param_grid={'colsample_bytree': [0.8, 0.9, 1.0],
                         'learning_rate': [0.1, 0.01, 0.001],
                         'max_depth': [3, 5, 7], 'subsample': [0.8, 0.9, 1.0]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [29]:
grid_pred=grid.predict(x_test)
grid_pred

array([12739.028 , 10352.542 , 45564.32  , 13823.025 ,  9286.334 ,
        4509.836 ,  2384.424 , 13183.99  ,  7351.125 ,  6187.795 ,
        6048.002 , 12303.582 ,  9497.648 ,  6669.917 , 19823.615 ,
       12471.052 , 14683.347 ,  4845.1616,  7012.518 , 32880.402 ,
       25588.047 , 15489.063 , 11802.942 , 26976.703 ,  3422.9016,
        6005.457 ,  5838.848 ,  8301.145 ,  4362.902 , 11247.32  ,
        7806.1826, 47147.113 , 15329.742 , 11953.06  , 17688.84  ,
        4944.8506, 13286.851 , 38442.348 , 39020.582 ,  3511.4   ,
        4904.802 ,  5207.5024, 19862.246 , 47689.773 , 37217.465 ,
        4558.747 , 12578.2705,  7132.0933,  5208.657 , 12524.195 ,
        4285.3086,  4144.631 , 26614.525 , 46230.293 , 11484.758 ,
        6997.8257,  5738.8574, 10261.804 , 10007.154 , 16655.314 ,
        2534.4631, 44013.53  , 17941.334 , 12525.45  , 13493.164 ,
       10186.191 , 32296.797 , 38316.29  ,  4011.7812,  9180.003 ,
       14939.863 , 12772.901 , 18023.83  , 15123.2   , 14123.674 ,
       15429.595 ,  8663.857 ,  9451.812 , 19134.148 , 45919.707 ,
       11676.649 , 44854.62  ,  3333.4521,  9807.545 , 40883.883 ,
       19051.39  ,  5460.838 ,  3820.4075, 14800.738 , 38396.59  ,
        6548.193 , 11844.47  ,  3997.1455, 10973.725 ,  6574.564 ,
        5754.4175, 42951.09  , 41403.273 ,  6198.3936, 11030.898 ,
        4139.1484,  7776.8003,  7118.199 , 38487.992 , 24707.85  ,
        3790.5813, 10733.225 ,  5383.4146, 12184.751 , 43082.613 ,
       12381.445 ,  5878.07  , 10631.912 , 33398.84  , 47134.535 ,
        7428.775 ,  2911.7483, 10261.804 , 15518.813 , 10228.698 ,
       41937.758 , 10976.544 , 13813.954 ,  9600.66  , 10457.847 ,
        5558.428 , 25916.71  , 25900.795 , 47189.176 ,  3244.5308,
       10616.727 ,  4635.0576,  6661.479 ,  9543.198 , 37470.984 ,
       37772.7   , 22660.379 , 11649.364 , 24902.96  ,  5254.2275,
        3142.15  , 12724.06  , 15491.717 , 11317.417 ,  6291.0776,
       15309.745 , 15866.617 ,  5343.98  ,  2048.119 , 12234.448 ,
        7275.9087, 39592.645 , 10386.671 ,  3747.6902,  3633.5195,
        8290.276 ,  3619.601 ,  3138.4639, 12471.052 , 11244.634 ,
        6302.209 , 13601.128 , 14247.575 , 10103.233 ,  3799.0852,
        9134.994 , 15833.936 ,  6685.181 ,  6015.8525,  2634.2703,
        7153.999 ,  6822.908 , 10018.213 ,  4668.3735,  6335.0674,
        9055.817 ,  5700.2266,  6485.0454, 28314.996 ,  2217.8025,
       14974.025 ,  6967.8594, 11681.872 ,  5173.8867,  6274.819 ,
       27921.045 ,  3333.4521,  3396.2656, 14556.25  , 12216.815 ,
       41852.637 ,  6189.1665,  6016.82  , 25351.99  ,  4545.333 ,
        4288.1343,  7697.0312,  7461.088 ,  7023.465 ,  5759.828 ,
       12363.918 , 43787.016 , 14142.011 , 19348.107 ,  7001.3296,
       43780.195 ,  5391.0254, 12393.457 ,  7810.8813,  2370.6416,
       10160.695 , 14185.158 ,  6754.5205,  4347.3496,  7183.5093,
        4269.8804,  7050.4126,  5783.7783, 15913.184 ,  8726.651 ,
       10473.067 ,  7373.6523, 10099.759 ,  3684.6038, 12685.955 ,
       14774.934 , 18871.967 , 12183.346 ,  5959.932 ,  3266.058 ,
        2537.6172,  9227.173 , 14901.904 ,  8021.9014,  5403.5728,
        7758.091 , 12104.703 , 34533.89  ,  6820.326 , 13001.437 ,
        7646.708 , 36308.766 ,  7973.759 ,  9811.75  , 10071.428 ,
       12090.0625,  3236.8486,  9519.076 ,  3120.8696,  6705.111 ,
       20499.68  , 44739.91  ,  5892.401 ,  5530.368 ,  2607.0657,
        2640.711 ,  9960.079 ,  2847.282 ,  7146.6797,  5552.034 ,
        9157.294 , 27909.256 , 42901.02  , 18416.98  ,  7389.2085,
       11030.898 , 41494.68  , 10460.3545, 39835.293 ,  2891.509 ,
       38486.348 ,  7163.775 , 12434.103 ,  7105.9595, 40520.773 ,
        7093.9053, 11374.261 , 11106.928 ,  3863.7993, 16356.507 ,
       12672.294 ,  6634.0635, 15394.95  ,  3158.0872,  7278.1797,
        5673.6934,  9028.788 , 22835.967 ,  4517.4385,  1899.7467,
        2202.7002, 46436.387 , 10278.355 ,  5524.634 , 14644.734 ,
       12363.918 , 34979.055 ,  8489.051 ,  6685.739 , 10621.145 ,
        2732.6936,  4332.2188, 21306.395 , 18476.344 , 14724.09  ,
        3584.1143,  4653.3696, 10983.129 , 12803.169 , 15721.232 ,
       21479.47  ,  7172.556 , 16549.098 ,  2839.7239,  7393.1353,
        6104.4966, 11380.193 ,  2780.546 ,  9228.073 , 46526.473 ,
        5006.8896,  5660.6406,  2651.7124, 10300.43  ,  5806.6284,
       13263.123 , 45099.504 , 18038.234 , 10502.138 , 46047.453 ,
       14786.923 ,  7001.3296, 11023.59  ,  5850.2163, 28918.543 ,
        6010.5137, 14285.402 ,  3229.0308, 16635.742 ,  3603.9614,
       27272.299 ,  7286.3726,  4269.8804, 40125.2   ,  6292.973 ,
        5658.6934, 31740.283 ,  3337.7449, 10104.857 ,  3980.11  ,
       12137.149 ,  4031.669 ,  7708.376 ,  6187.795 , 42355.176 ,
       11764.223 , 38049.062 , 40146.81  ,  6820.326 ,  9632.25  ,
        2703.6953,  7330.9443,  4441.035 , 10443.872 , 45036.98  ,
       11067.498 ,  3081.5635, 13890.787 ,  3373.717 , 10628.647 ,
        5886.919 ,  4604.5566,  4889.143 , 37162.695 ,  7247.4697,
        2054.0964, 42425.547 , 12116.789 , 42515.07  , 11067.498 ,
        6936.4434,  2655.6367,  2663.1025, 13041.087 ,  6689.259 ,
        3111.1802, 12656.251 ,  7332.4824,  7226.516 ,  5504.6533,
        4355.4316, 43867.625 ,  2747.813 , 10549.73  ,  4279.5605,
        7295.516 , 11113.026 ,  6260.1772, 17165.398 , 12143.661 ,
       15430.726 , 15503.923 ], dtype=float32)

In [30]:
from sklearn.metrics import r2_score
r2_score=r2_score(y_test,grid_pred)
r2_score

0.886199462783251

In [20]:
# Print the best hyperparameters and corresponding MSE score
print("Best Hyperparameters: ", grid.best_params_)
print("Best MSE Score: ", -grid.best_score_)

Best Hyperparameters:  {'colsample_bytree': 0.8, 'learning_rate': 0.1, 'max_depth': 3, 'subsample': 0.9}
Best MSE Score:  23322644.313994475

# Save model

In [21]:
import pickle
file_name="finalized_XGboost.sav"

pickle.dump(grid,open(file_name,"wb"))
loaded_model=pickle.load(open("finalized_XGboost.sav","rb"))
loaded_model

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=XGBRegressor(base_score=None, booster=None,
                                    callbacks=None, colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    early_stopping_rounds=None,
                                    enable_categorical=False, eval_metric=None,
                                    gamma=None, gpu_id=None, grow_policy=None,
                                    importance_type=None,
                                    interaction_constraints=None,
                                    learnin...
                                    n_jobs=None, num_parallel_tree=None,
                                    objective='reg:squarederror',
                                    predictor=None, random_state=None,
                                    reg_alpha=None, ...),
             iid='warn', n_jobs=None,
             param_grid={'colsample_bytree': [0.8, 0.9, 1.0],
                         'learning_rate': [0.1, 0.01, 0.001],
                         'max_depth': [3, 5, 7], 'subsample': [0.8, 0.9, 1.0]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)